<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hola <%= @user&.email %></h1>
    <p>
      Hay una novedad en la PQR: <%= @pqr&.subject %> con estado: <%= @pqr&.request_state %>
    </p>
  </body>
</html>